@import "__colors.scss";

.searchbar{
    margin-left: 35%;
    margin-top: 3.5vw;
    position: sticky;
    input{
      width: 30vw;
      height: 3vw;
      border-bottom: 2px solid var(--orange);
      border-top: 2px solid var(--black);
      border-left: 2px solid var(--black);
      border-right: 2px solid var(--black);
      background-color: var(--black);
      color: var(--white);
      padding-left: 1vw;
      font-size: 1.4vw;
      outline: none;
    }::placeholder{
      color: rgb(129, 129, 129);
    }
  }
  

  @media (max-width: 430px) {
       .searchbar{
        margin-left: 50%;
        margin-bottom:10vw;
        scale: 2.5;
       }
    
  }
