@import "__colors.scss";

.left {
  width: 100%;
  height: 15vh;
  display: flex;
  padding: 1.2vw 1.2vw 1.2vw 0;
  font-family: var(--font-family2);
  Link {
    h1 {
      text-decoration: none;
      color: var(--white);
    }
  }
  .headauth {
    text-decoration: none;
    color: var(--white);
  }
  .auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22vw;
    height: 5vw;
    .logo {
      width: 75px;
      height: 75px;
      margin: 0 2vw;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 2px solid var(--orange);
        object-fit: cover;
      }
    }
    .head {
      width: 15vw;
      height: 3vw;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 2vw;
        margin: 0 0.5vw;
        letter-spacing: 1.2px;
      }
    }
  }
  .auth2 {
    width: 22vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 3.2vw;
      letter-spacing: 1.5px;
      font-weight: bold;
    }
    .line {
      position: absolute;
      left: 22vw;
    }
    .line1 {
      position: absolute;
      left: 22vw;
      bottom: 0;
    }
  }
  .part1 {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
    padding-left: 8vw;
    .parted1 {
      .login {
        width: 12vw;
        height: 3.5vw;
        border-radius: 50px;
        background: var(--orange-gradient);
        border: 0;
        font-size: 1.8vw;
        font-family: var(--font-family2);
        padding-left: 1vw;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: space-evenly; 
         color: whitesmoke;
        span{
          color: whitesmoke;
        }
      }
      span{
      color: whitesmoke;
      }
      #spanicon{
        color: whitesmoke;
      }
    }
    .parted2 {
      .linkes {
        button {
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          background: var(--orange-gradient);
          font-size: 2vw;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0;
          color: var(--white);
        }
      }
    }
    .parted3 {
      .btn {
        width: 12vw;
        font-family: var(--font-family2);
        font-size: 0.75vw;
        padding-left: 1vw;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 3.5vw;
        border-radius: 50px;
        background: var(--orange-gradient);
      }
      .linked {
        text-decoration: none;
        color: var(--white);
        button {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          border: 0;
          background: var(--orange-gradient);
        }
      }
    }

    .parted6 {
      font-size: 1.2vw;
      button {
        width: 9vw;
        height: 3.5vw;
        border-radius: 50px;
        background: var(--orange-gradient);
        outline: none;
        border: 0;
        color: #fff;
        font-family: var(--font-family2);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      .theme-toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      .theme-toggle svg {
        font-size: 1.4vw;
        margin: 0 2vw;
      }

      .theme-toggle svg:nth-child(2) {
        display: none;
      }

      [data-theme="dark"] .theme-toggle svg:nth-child(1) {
        display: none;
      }

      [data-theme="dark"] .theme-toggle svg:nth-child(2) {
        display: inline;
      }
    }
    .parted7 {
      width: 6vw;
      height: 3.5vw;
      font-size: 0.75vw;
      border-radius: 50px;
      display: flex;
      color: white;
      align-items: center;
      background: var(--orange-gradient);
      justify-content: space-evenly;
      font-family: var(--font-family2);
      .theme-toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      .theme-toggle svg {
        font-size: 1.4vw;
        margin: 0 2vw;
      }

      .theme-toggle svg:nth-child(2) {
        display: none;
      }

      [data-theme="dark"] .theme-toggle svg:nth-child(1) {
        display: none;
      }

      [data-theme="dark"] .theme-toggle svg:nth-child(2) {
        display: inline;
      }
    }

    .parted5 {
      button {
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        background: var(--orange-gradient);
        color: var(--white);
        outline: 0;
        border: 0;
        font-size: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .parted4 {
      .link {
        text-decoration: none;
        color: var(--white);
        button {
          width: 12vw;
          height: 3.5vw;
          font-family: var(--font-family2);
          border-radius: 50px;
          background: var(--orange-gradient);
          color: #fff;
          border: 0;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          font-size: 0.75vw;
          padding-left: 1vw;
        }
      }
    }
    .dropdowns {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      .dropdown__text{
        margin-left: 35%;
      }
      .dropdown {
        position: relative;
        width: 150px;
        filter: url(#goo);
        font-size: 1.2vw;
        &__face,
        &__items {
          background: var(--orange-gradient);
          padding: 20px;
          border-radius: 25px;
        }

        &__face {
          display: block;
          position: relative;
        }

        &__items {
          margin: 0;
          position: absolute;
          right: 0;
          top: 50%;
          width: 100%;
          list-style: none;
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          visibility: hidden;
          z-index: -1;
          opacity: 0;
          transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);

          &::before {
            content: "";
            background: var(--orange-gradient);
            position: absolute;
            bottom: 100%;
            right: 40%;
            height: 40px;
            width: 20px;
          }
        }

        &__arrow {
          border-bottom: 2px solid var(--white);
          border-right: 2px solid var(--white);
          position: absolute;
          top: 50%;
          right: 30px;
          width: 10px;
          height: 10px;
          transform: rotate(45deg) translateY(-50%);
          transform-origin: right;
        }

        input {
          display: none;

          &:checked ~ .dropdown__items {
            top: calc(100% + 25px);
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

.scroll {
  div {
    position: absolute;
    right: 3.5vw;
    bottom: 0;
    width: 4.5vw;
    height: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 2.5vw;
    border: 2px solid var(--orange);
    border-radius: 50%;
  }
  :hover {
    background-color: var(--orange);
    color: var(--black);
  }
}








@media (max-width: 430px) {
  .left {
    width: 100vw;
    height: 15vw;
    display: flex;
    padding: 1.2vw 1.2vw 1.2vw 0;
    font-family: var(--font-family2);
    display: flex;
    align-items: center;
    z-index: 9;
    .part0 {
      width: 20vw;
      height: 15vw;
      .headauth {
        text-decoration: none;
        color: var(--white);
        .auth {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          .logo {
            width:0px;
            height: 0px;
            margin: 0 2vw;
            display: flex;
            display: none;
            align-items: center;
            justify-content: center;
            img {
              width: 0px;
              height: 0px;
              border-radius: 50%;
              border: 2px solid var(--orange);
              object-fit: cover;
            display: none;

            }
          }
          .head {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1vw;
            padding-left: 3vw;
            h1 {
              font-size: 4.5vw;
              margin: 0 0.5vw;
            }
          }
        }

        .auth2 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin:0 1.5vw;
          h1 {
            font-size: 2.5vw;
            font-weight: bold;
          }
          .line {
            position: absolute;
            left: 22vw;
          }
          .line1 {
            position: absolute;
            left: 22vw;
            bottom: 0;
          }
        }
      }
    }
    .part1 {
      width: 80vw;
      height: 15vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0;
      .parted1,.parted3,.parted4,.parted6,.parted7{
        scale: 1.3;
        margin: 0 1.6vw;
      }
      .parted2,.parted5{
        scale: 2;
        margin: 1vw 0;
      }
      .parted5{
        margin: 1vw -1vw;
      }


      .parted1 {
        .login {
          width: 12vw;
          height: 3.5vw;
          border-radius: 50px;
          background: var(--orange-gradient);
          border: 0;
          font-size: 1.8vw;
          font-family: var(--font-family2);
          color: var(--white);
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        color: whitesmoke;
span{
  color: whitesmoke;
}
        }
      }
      .parted2 {
        .linkes {
          button {
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
            background: var(--orange-gradient);
            font-size: 2vw;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            color: var(--white);
          }
        }
      }
      .parted3 {
        .btn {
          width: 12vw;
          font-family: var(--font-family2);
          font-size: 0.75vw;
          padding-left: 1vw;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          height: 3.5vw;
          border-radius: 50px;
          background: var(--orange-gradient);
        }
        .linked {
          text-decoration: none;
          color: var(--white);
          button {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: 0;
            background: var(--orange-gradient);
          }
        }
      }

      .parted6 {
        font-size: 1vw;
        button {
          width: 11vw;
          height: 3.5vw;
          border-radius: 50px;
          background: var(--orange-gradient);
          outline: none;
          border: 0;
          color: #fff;
          font-family: var(--font-family2);
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          font-size: 1vw;
        }
      }

      .parted7 {
        width: 6vw;
        height: 3.5vw;
        font-size: 0.75vw;
        border-radius: 50px;
        display: flex;
        color: white;
        align-items: center;
        background: var(--orange-gradient);
        justify-content: space-evenly;
        font-family: var(--font-family2);
        position: absolute;
        left: 8vw;
        bottom: 6vw;
        scale: 3;
        .theme-toggle {
          background: none;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .theme-toggle svg {
          font-size: 1.4vw;
          margin: 0 2vw;
        }

        .theme-toggle svg:nth-child(2) {
          display: none;
        }

        [data-theme="dark"] .theme-toggle svg:nth-child(1) {
          display: none;
        }

        [data-theme="dark"] .theme-toggle svg:nth-child(2) {
          display: inline;
        }
      }

      .parted5 {
        button {
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          background: var(--orange-gradient);
          color: var(--white);
          outline: 0;
          border: 0;
          font-size: 2vw;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .parted4 {
        .link {
          text-decoration: none;
          color: var(--white);
          button {
            width: 12vw;
            height: 3.5vw;
            font-family: var(--font-family2);
            border-radius: 50px;
            background: var(--orange-gradient);
            color: #fff;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 0.75vw;
            padding-left: 1vw;
          }
        }
      }







      .dropdowns {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 1;
        .dropdown__text{
          margin-left: 0%;
        }
        .dropdown {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          filter: url(#goo);
          font-size: 2.5vw;
          &__face,
          &__items {
            background: var(--orange-gradient);
            padding:15px;
            border-radius: 50px;
          }

          &__face {
            display: block;
            position: relative;
          }

          &__items {
            margin: 0;
            position: absolute;
            right: 5%;
            width: 100%;
            list-style: none;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
   scale: 1.2;
            &::before {
              content: "";
              background: var(--orange-gradient);
              position: absolute;
              bottom: 100%;
              right: 40%;
              height: 20px;
              width: 20px;
            }
          }

          &__arrow {
            border-bottom: 2px solid var(--white);
            border-right: 2px solid var(--white);
            position: absolute;
            top: 50%;
            right: 30px;
            width: 10px;
            height: 10px;
            transform: rotate(45deg) translateY(-50%);
            transform-origin: right;
          }

          input {
            display: none;

            &:checked ~ .dropdown__items {
              top: calc(100% + 25px);
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }


























































         }
  }























































  .scroll {
    div {
      position: absolute;
      right: 3.5vw;
      bottom: 0;
      width: 12vw;
      height: 12vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      font-size: 8vw;
      border: 2px solid var(--orange);
      border-radius: 50%;
    }
    :hover {
      background-color: var(--orange);
      color: var(--black);
    }
  }
}
