.PairedPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .PairedUsersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .UserCard {
    width: 65vw;
    height: 12vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1vw;
    margin: 1vw 0;
  }
  
  @media (max-width: 430px) {
    .UserCard {
      width: 75vw;
      height: fit-content;
      flex-direction: column;
      margin-top: 5vw;
      border-radius: 10px;
    }
  }
  
  .left1 {
    width: 8vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  
  @media (max-width: 430px) {
    .info img {
      width: 50px;
      height: 50px;
    }
  }
  
  .right {
    width: 57vw;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.5vw;
  }
  
  .user {
    width: 100%;
    height: fit-content;
  }
  
  .user h1 {
    margin: 0;
  }
  
  @media (max-width: 430px) {
    .user h1 {
      font-size: 5.5vw;
      text-align: center;
    }
  }
  
  .mail {
    width: 100%;
    height: fit-content;
    margin-bottom: 1vw;
    margin-top: 0.5vw;
  }
  
  @media (max-width: 430px) {
    .mail {
      font-size: 3vw;
      text-align: center;
    }
  }
  
  .login h3 {
    text-align: center;
  }
  
  .partyyyy {
    display: flex;
  }
  
  .party3 button {
    display: flex;
    align-items: center;
    background-color: #007bff;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .party3 .icon {
    font-size: 1.4vw;
    margin-left: 0.5vw;
  }
  
  .party4 button {
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1vw;
  }
  
  @media (max-width: 430px) {
    .party4 button {
      width: 20vw;
      height: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 75%;
      margin-top: 10%;
      margin-bottom: 5%;
    }
  }
  
  .party4 button a {
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
  }
  
  @media (max-width: 430px) {
    .party4 button a {
      font-size: 3.2vw;
    }
  }

    .UserCard{
    background: var(--orange-gradient);
    }
   
   